.dash-body{

}

.nav-bar{
  background: #d1caca !important;
  position: fixed !important;
  top: 1px;
  display: flex;
  width:100%;

  left: 5px !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:200px;
}
.logo{
  color: #000000 !important;
  margin-left:14px;
}
.searchbar{
  display: flex;
  padding-bottom: 10px !important;
  align-items: center;
  position: fixed !important;
  left: 30rem !important;
  background-color: #ffffff !important;

}
.search-input{
  margin-top: 10px;
  width: 700px !important;
  height: 40px !important;
  position: absolute;
  border-radius: 14px;
  padding-right: 3px !important;
  left: 40px !important;
}
.project-section{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  gap: 0;
}
.project-grid{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
