.nav-bar{
  background: #ffffff !important;
  position: fixed !important;
  top: 5px;
  display: flex;
  width:100vw;

  left: 35px !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap:200px;


}
.logo{
  color: #000000 !important;
}
.searchbar{
  display: flex;
  padding-bottom: 10px !important;
  align-items: center;
  position: fixed !important;
  left: 30rem !important;
  background-color: #ffffff !important;

}
.search-input{
  margin-top: 20px;
  width: 700px !important;
  height: 40px !important;
  position: absolute;
  border-radius: 14px;
  padding-right: 3px !important;
  left: 40px !important;

}
