name: Build, Test and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: "8.0"



jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore Dependencies
        run: |
          export  CLIENT_ID=${{ secrets.CLIENT_ID }}
          export  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          export ASPNETCORE_ENVIRONMENT=Production
          dotnet restore

      - name: Build Project
        run: dotnet build --configuration Release --no-restore

      - name: Run Tests 🧪
        run: dotnet test  --verbosity normal
        env:
          ConnectionStrings__Redis: localhost:6379

      - name: Publish App
        run: dotnet publish ./TeamcollborationHub.server/TeamcollborationHub.server.csproj -c Release -o out

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and Push Docker Image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./TeamcollborationHub.server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/teamhub:latest